.unit(class=className, style=unitStyle)
  .image(style=imageStyle)
    +Template.dynamic(template=unitTemplate data=unitData)
  .corner-icons
    if unit.attacked
      i.fa.fa-crosshairs
    if unit.moved
      i.fa.fa-lock
  unless unit.atMaxStrength
    .strength #{unit.getStrength}/#{unit.maxStrength}
  unless unit.atMaxHealth  
    .health-bar
      .inner(style="width: {{healthBarWidth}}%;")
