.navbar-fixed
  nav
    .nav-wrapper
      .container
        a.brand-logo.center(href='/') Meteor Wars
        ul.left
          li
            +loginButtons
            
        if Template.subscriptionsReady
          unless hasFinished
            with round
              if isCurrentPlayer
                ul.right
                  li
                    a You are playing!
                  li
                    .btn.next-turn
                      .fa.fa-check
                      span I'm done!
              else
                with getCurrentPlayer
                  ul.right
                    li #{name} is playing

if hasFinished
  with round
    +RoundScoreboard
else
  .map-container
    unless Template.subscriptionsReady
      +Loader
    else
      .map(style=mapStyle)
        each immutables
          +Immutable
        
        each grid
          each this
            .grid-item(class=gridClass, data-x=x, data-y=y)
              .overlay
              
        each units
          +Unit
